<!--제품 상세페이지-->
<%- include('includes/header'); -%>
<%- include('includes/nav'); -%>


        <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                        <div class="card" style="width: 100%;">
                                <img src="/static/img/클래스101베이킹.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">청미당과 함께, 쉽고 건강하고 맛있는 쌀 베이킹</h5>
                                  <p class="card-text"></p>
                                  <p>
                                      
                                      
                                  </p>
                                </div>
                  </div>
                </div>
                  <div class="col-sm-6">
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">나의 첫 쌀 베이킹</li>
                                <li class="list-group-item">22% 할인: 총 263.600원</li>
                                <li class="list-group-item">
                                    오레오 브라우니
                                        ,마들렌
                                        ,제니쿠키
                                        ,생크림 케이크
                                        ,레인보우 케이크
                                        ,레드벨벳 케이크
                                        ,베이킹 꿀 팁 정리!</li>
                              </ul>
                              <div class="card-body">
                                <a href="https://class101.net/products/V9nKUZiXNM7RJ6hRcgfu" class="card-link">클래스101 사이트 바로가기</a>
                                
                              </div>
                            </div>
                  </div>
                </div>
            



        
                






