<!--베이킹 전체 클래스 노출 화면-->
<%- include('includes/header'); -%>
<%- include('includes/nav'); -%>

<link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Nanum+Gothic+Coding&display=swap" rel="stylesheet">
<style>
div {font-family: 'Nanum Gothic Coding', monospace;}
</style>

<h2>　베이킹</h2>

<!-- 폰트 설정 -->
<style>
    h2 {font-family: 'Nanum Gothic Coding', monospace;}
    </style>

<div style="display: block; width:1200px; margin:0 auto;  position:relative;">
  <div class="row">
    <div class="coll-sm-3">
    <div>
      <div class="card" style="width: 18rem;" >
        <img src="static/img/클래스101베이킹.jpg" style="width: auto; height: 13rem;" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">청미당과 함께, 쉽고 건강하고 맛있는 쌀 베이킹 </p>
          <p>총 339,370원</p>
          <a href="https://class101.net/products/V9nKUZiXNM7RJ6hRcgfu">
          <p>클래스101</p> </a>
        </div>
      
      </div>   
    </div> 
      </div>
              
      <div class="coll-sm-3">
      <div>
        <div class="card" style="width: 18rem;" >
        
          <img src="static/img/클래스101베이킹2.jpg" style="width: auto; height: 13rem;" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">찹찹테이블의 눈과 입이 행복한 건강식 레시피</p>
            <p>28%할인 219.500원</p>
            <a href="https://class101.net/products/ORyv8X6Gbni7CqT3USqr">
            <p>클래스101</p> </a>
          </div>
          
        </div>   
      </div> 
        </div>
    
    <div class="coll-sm-3">
            <div>
              <div class="card" style="width: 18rem;" >          
                <img src="static/img/탈잉베이킹.jpg" style="width: auto; height: 13rem;" class="card-img-top" alt="...">
                 <div class="card-body">
                  <p class="card-text">당신은 지금 '다쿠아즈'가 땡긴다! 수제 다쿠아즈 클래스!</p>
                  <p>총 1회 2시간 50,000원</p>
                  <a href="https://taling.me/Talent/Detail/16639">
                  <p>탈잉</p> </a>
                </div>    
            </div>   
        </div> 
    </div>

    <div class="coll-sm-3">
      <div>
      <div class="card" style="width: 18rem;" >
               <img src="static/img/탈잉베이킹2.jpg" style="width: auto; height: 13rem;" class="card-img-top" alt="...">
                <div class="card-body">
                 <p class="card-text">생딸기 우유 생크림 케이크 시트부터 데코까지 디테일한 수업</p>
                 <p>총 1회 3시간 105,000원</p>
                 <a href="https://taling.me/Talent/Detail/18930">
                 <p>탈잉</p> </a>
           </div>
          </div>
     </div>
     </div>
 
<p></p>

      
          <div class="coll-sm-3">
          <div>
            <div class="card" style="width: 18rem;" >
              <img src="static/img/마카롱.jpg" style="width: auto; height: 18rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">마카롱을 손쉽게 만들수 있는 기회! </p>
                <p>원데이 50,000원</p>
                <a href="https://www.sssd.co.kr/main/class/detail/5632">
                <p>솜씨당</p> </a>
              </div>
            
            </div>   
          </div> 
            </div>
                    
            <div class="coll-sm-3">
            <div>
              <div class="card" style="width: 18rem;" >
              
                <img src="static/img/파운드케이크.jpg" style="width: auto; height: 18rem;" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">파운드 케이크 만들기 DIY!</p>
                  <p>원데이 30,000원</p>
                  <a href="https://www.sssd.co.kr/main/class/detail/7005">
                  <p>솜씨당</p> </a>
                </div>
                
              </div>   
            </div> 
              </div>
          
          <div class="coll-sm-3">
                  <div>
                    <div class="card" style="width: 18rem;" >          
                      <img src="static/img/플라워머핀.jpg" style="width: auto; height:18rem;" class="card-img-top" alt="...">
                       <div class="card-body">
                        <p class="card-text">슈가클레이로 만드는 플라워머핀 KIT</p>
                        <p>총 29,900원</p>
                        <a href="http://hobbyinthebox.co.kr/product/%EC%8A%88%EA%B0%80%ED%81%B4%EB%A0%88%EC%9D%B4%EB%A1%9C-%EB%A7%8C%EB%93%9C%EB%8A%94-%ED%94%8C%EB%9D%BC%EC%9B%8C%EB%A8%B8%ED%95%80-kit/239/category/57/display/1/">
                        <p>하비인더박스</p> </a>
                      </div>    
                  </div>   
              </div> 
          </div>
      
          <div class="coll-sm-3">
            <div>
            <div class="card" style="width: 18rem;" >
                     <img src="static/img/과자집.jpg" style="width: auto; height: 18rem;" class="card-img-top" alt="...">
                      <div class="card-body">
                       <p class="card-text">크리스마스 동화 속 과자집 만들기 KIT</p>
                       <p>총 19,900</p>
                       <a href="http://hobbyinthebox.co.kr/product/diy-%ED%81%AC%EB%A6%AC%EC%8A%A4%EB%A7%88%EC%8A%A4-%EB%8F%99%ED%99%94-%EC%86%8D-%EA%B3%BC%EC%9E%90%EC%A7%91-%EB%A7%8C%EB%93%A4%EA%B8%B0-kit/803/category/57/display/1/">
                       <p>하비인더박스</p> </a>
                 </div>
                </div>
           </div>
      </div>   

</div>
<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
<%- include('includes/footer'); -%>           



        
                






