<!--중고장터 기능 추가-->
<!--폰트-->
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Nanum+Gothic+Coding&display=swap" rel="stylesheet">
<style>
div {font-family: 'Nanum Gothic Coding', monospace;}
</style>

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>중고장터</title>
  </head>

<body>


<%- include('includes/header'); -%>
<%- include('includes/nav'); -%>

<div class="container">

  <h1>중고장터</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Category</th>
        <th scope="col">작성자</th>
        <th scope="col">제목</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">15</th>
        <td>탈잉</td>
        <td>탈잉색연필</td>
        <td><a href="/community/15">클래스에 필요한 색연필 팝니다</a></td>
        
      </tr>
      <tr>
        <th scope="row">15</th>
        <td>솜씨당</td>
        <td>파스텔</td>
        <td><a href="/community/16">오일파스텔 싸게 넘깁니다</a></td>
        
      </tr>
      <tr>
        <th scope="row">17</th>
        <td>기타</td>
        <td>다쿠아즈</td>
        <td><a href="/community/17">베이킹할때 쓰는 채 나눔할게요</a></td>
        
      </tr>
      <tr>
        <th scope="row">18</th>
        <td>프립</td>
        <td>카드맨</td>
        <td><a href="/community/18">마술배우기 클래스에서 썼었던 카드등의 도구입니다</a></td>
        
      </tr>
      <tr>
          <th scope="row">19</th>
          <td>클래스101</td>
          <td>울</td>
          <td><a href="/community/19">탑다운 스웨터뜨는 털실 팝니다</a></td>
          
        </tr>
      
    </tbody>
  </table>
  
  
  
  <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">
    </div>
    <div class="input-group">
      <a href="/community/add" class="btn btn-outline-success">게시물 작성</a>
    </div>
  </div>
</div>

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

<%- include('includes/footer'); -%>
