
<!-- 드로잉 전체 클래스 노출 화면-->
<%- include('includes/header'); -%>
<%- include('includes/nav'); -%>

<!--폰트-->
<link href="http://fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet">
<style>
div {font-family: 'hanna', monospace;}
</style>

<h2>　드로잉</h2>

<!-- 폰트 설정 -->
<link href="http://fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet">
<style>
    h2 {font-family: 'hanna', monospace;}
    </style>
    
<div style="display: block; width:1200px; margin:0 auto;  position:relative;">
    <div class="row">
        <div class="coll-sm-3">
    <div>
      <div class="card" style="width: 18rem;" >
        <img src="static/img/탈잉색연필.jpg" style="width: auto; height: 18rem;" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">[원데이/재료제공] 색연필로 그리는 인물&동물 초상화 </p>
          <p>총 40,000원</p>
          <a href="https://taling.me/Talent/Detail/9467">
          <p>탈잉</p> </a>
        </div>
      
      </div>   
    </div> 
      </div>
              
    <div class="coll-sm-3">
      <div>
        <div class="card" style="width: 18rem;" >
        
          <img src="static/img/클래스101샤프.jpg" style="width: auto; height: 18rem;" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">감성을 그립니다, 고고일러스트의 샤프로 그리는 인물 드로잉</p>
            <p>31%할인 총 214,500원</p>
            <a href="https://class101.net/products/fFr7PYYkmlztkprlvtRn">
            <p>클래스101</p> </a>
          </div>
          
        </div>   
      </div> 
        </div>
    
    <div class="coll-sm-3">
            <div>
              <div class="card" style="width: 18rem;" >          
                <img src="static/img/아이패드수채화.jpg" style="width: auto; height: 18rem;" class="card-img-top" alt="...">
                 <div class="card-body">
                  <p class="card-text">디지털로 만들어내는 아날로그 감성, 아이패드 수채화 드로잉</p>
                  <p>14%할인 총 214,400원</p>
                  <a href="https://class101.net/products/haeran-illust">
                  <p>클래스101</p> </a>
                </div>    
            </div>   
        </div> 
       </div>

    <div class="coll-sm-3">
            <div>
              <div class="card" style="width: 18rem;" >
              
                <img src="static/img/프립취미미술.jpg" style="width: auto; height: 18rem;" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">[강남/원데이] 고급스럽게 한번 취미 미술 해봐요! </p>
                  <p>총 39,000원</p>
                  <a href="https://www.frip.co.kr/products/117959">
                  <p>프립</p> </a>
                </div>
                
              </div>   
            </div> 
        </div>

    <div class="coll-sm-3">
            <div>
              <div class="card" style="width: 18rem;" >
              
                <img src="static/img/크리스마스엽서.jpg" style="width: auto; height: 18rem;" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">[연남동_크리스마스] 오일파스텔로 크리스마스 엽서&토퍼 만들기</p>
                  <p>31%할인 총 16,900원</p>
                  <a href="https://www.sssd.co.kr/main/class/detail/6835">
                  <p>솜씨당</p> </a>
                </div>
                
              </div>   
            </div> 
        </div>

    <div class="coll-sm-3">
                  <div>
                    <div class="card" style="width: 18rem;" >
                    
                      <img src="static/img/오일파스텔.jpg" style="width: auto; height: 18rem;" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">나만의 색으로 그리는 오일파스텔 풍경그림</p>
                        <p>총 35,000원</p>
                        <a href="https://www.sssd.co.kr/main/class/detail/5888">
                        <p>솜씨당</p> </a>
                      </div>
                      
                    </div>   
                  </div> 
      </div>
   
    <div class="coll-sm-3">
          <div>
            <div class="card" style="width: 18rem;" >
            
              <img src="static/img/아크릴.jpg" style="width: auto; height: 18rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">그리고 마시면서 힐링! 캔버스 아크릴화 아트클래스</p>
                <p>총 36,000원</p>
                <a href="https://taling.me/Talent/Detail/12005">
                <p>탈잉</p> </a>
              </div>
              
            </div>   
          </div> 
       </div>

    <div class="coll-sm-3">
          <div>
            <div class="card" style="width: 18rem;" >
            
              <img src="static/img/크리스마스그림.jpg" style="width: auto; height: 18rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">크리스마스 소망 트리 그리기</p>
                <p>총 38,000원</p>
                <a href="https://www.frip.co.kr/products/127922">
                <p>프립</p> </a>
              </div>
              
            </div>   
          </div> 
       </div>
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
<%- include('includes/footer'); -%>           



        
                






