

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Index</title>
  </head>
  <body>

<%- include('includes/header'); -%>
<%- include('includes/nav'); -%>
  
<h2>DRAWING</h2>
<div style="display: block; width:1200px; margin:0 auto;  position:relative;">
    <div class="row">
        <div class="coll-sm-3">
    <div>
      <div class="card" style="width: 18rem;" >
        <a href="https://taling.me/Talent/Detail/9467">
        <img src="static/img/인물동물드로잉.png" style="width: 18rem; height: 18rem;" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">[원데이/재료제공] 나를 위한 선물♥ 색연필로 그리는 인물&동물 초상화 </p>
          <p>40,000원</p>
          <p>탈잉</p>
        </div>
      </a>
      </div>   
    </div> 
      </div>
              
      <div class="coll-sm-3">
      <div>
        <div class="card" style="width: 18rem;" a href="...">
        <a href="https://class101.net/products/fFr7PYYkmlztkprlvtRn">
          <img src="static/img/샤프드로잉.jpeg" style="width: 18rem; height: 18rem;" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">감성을 그립니다, 고고일러스트의 샤프로 그리는 인물 드로잉 </p>
            <p>월 42,900원</p>
            <p>클래스101</p>
          </div>
        </a>
        </div>   
      </div> 
        </div>
    
      <div class="coll-sm-3">
        <div>
          <div class="card" style="width: 18rem;" a href="...">
            <a href="https://class101.net/products/haeran-illust">
            <img src="static/img/아이패드드로잉.png" style="width: 18rem; height: 18rem;" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">디지털로 만들어내는 아날로그 감성, 아이패드 수채화 드로잉 </p>
              <p>월 42,880원</p>
              <p>클래스101</p>
            </div>
        </a>
          </div>   
        </div> 
        </div>

      <div class="coll-sm-3">
    <div>
      <div class="card" style="width: 18rem;" a href="...">
        <a href="https://taling.me/Talent/Detail/15175">
        <img src="static/img/여행드로잉.jpeg" style="width: 18rem; height: 18rem;" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">[원데이] 나만의 공간, 나만의 여행 드로잉</p>
          <p>29,200원</p>
          <p>탈잉</p>
        </div>
        </a>
      </div>   
    </div> 
        </div>
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
<%- include('includes/footer'); -%>
