<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>하비모아</title>

  <link rel="landing" href="landing.css">

</head>
<body>

  <header>
    <div class="container">
      <div id="branding">
          <a class="navbar-brand" href="#"><img src="static/img/로고w하비모아.jpg"></a>
      </div>

  </div>
  </header>


 <section id="showcase">
  <div class="container">
      <!--폰트-->
  <link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet">
  <style>
h1 {font-family: 'Jua', sans-serif;}
h1 {font-size:22px;}
h1 {color: #4b4b4b}

</style>
    <h1>취미 클래스 이 곳에 다모아! 취미 사이트 통합 비교 플랫폼</h1>
       
     <div class="start_button">
         <a href="/index">
          <button type="button" class="btn btn-outline-info">하비모아 시작하기</button> </a>
      </div>


    </div>
 </section>

<section id="newsletter">
  <div class="container">
    <p></p>

  </div>
</section>

 
   <div class="container">

        <!--폰트-->
          <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
        <style>
          h3 {font-family: 'Nanum Gothic Coding', monospace;}
        </style>
      <div class="row">
        <div class="col-sm-4">
          <img src="static/img/취미모아보기.jpg" style="width: auto; height: 18rem;">
          <h3>취미 모아보기</h3>
          <p> 여러 사이트에 있는 클래스들을 한번에</p>
        </div>

      <div class="col-sm-4">
          <img src="static/img/맞춤취미추천.jpg" style="width: auto; height: 18rem;">
          <h3>맞춤 취미 추천</h3>
          <p> 나와 합이 맞는 취미는 뭐가 있을까?</p>
      </div>

      <div class="col-sm-4">
          <img src="static/img/중고장터.jpg" style="width: auto; height: 18rem;">
          <h3>중고 장터</h3>
          <p> 취미 유목민을 위한 취미용품 중고장터</p>
      </div>
    </div>
  </div>


<footer>

       <!--폰트-->
       <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
       <style>
        h4 {font-family: 'Noto Sans KR', sans-serif;}
        h4 {font-size: 11px;}
        h4 {color: #8f71ff;}
        h4 {text-align: center;}
      </style>

  <h4>
    하비모아 대표 : 최화인 이다현 장혜원 정지윤 주연우 <br>
  Copyright © hobbymoa Corp.</h4>
</footer>


</body>
</html>

