<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>하비모아 hobbymoa</title>

  <link rel="stylesheet" href="style.css">


</head>
<body>



  <header>
    <div class="container">
      <div id="branding">
        <h1><span class="highlight">하비모아</span></h1>
      </div>
      <nav>
        <ul>
          <li class="current"><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="developer.html">developers</a></li>

        </ul>
      </nav>

  </div>
  </header>


 <section id="showcase">
  <div class="container">
    <h1>취미 클래스 이 곳에 다모아! <br> 사이트 통합 비교 플랫폼</h1>
       
     <div class="start_button">
         <a href="/index">
        <button type="button">START</button> </a>
      </div>


    </div>
 </section>

<section id="newsletter">
  <div class="container">
    <p></p>

  </div>
</section>

 <section id="boxes">
   <div class="container">

  <div class="box">
     <img src="tasks.png">
     <h3>취미 모아보기</h3>
     <p> 여러 사이트에 있는 클래스들을 한번에</p>
  </div>

  <div class="box">
     <img src="analytics.png">
     <h3>맞춤 취미 추천</h3>
     <p> 나와 합이 맞는 취미는 뭐가 있을까?</p>
  </div>

  <div class="box">
     <img src="get-money.png">
     <h3>중고 장터</h3>
     <p> 취미 유목민을 위한 취미용품 중고장터</p>
  </div>

</div>
</section>

<footer>
  <p>
    하비모아 대표 : 최화인 이다현 장혜원 정지윤 주연우 |
  서울특별시 서대문구 대현동 37-18 그레이스하우스 601호 <br>
  | Tel 010-9451-6364 | 
  <br>
  dahyunlee@ewhain.net
  Copyright © hobbymoa Corp.</p>
</footer>


</body>
</html>

