<!doctype html>
<html>

<!-- http://getbootstrap.com/docs/4.1/getting-started/introduction/#starter-template -->
<html lang="en">
  <head>
    <!-- Custom styles for this template -->
    <link href="/static/css/landing.css" rel="stylesheet">
  </head>
</html>
<header>
<body class="text-center">
    <div class="container">
        <div id="branding">
    <form class="form-signin" method="post">
      <a href="/"><img class="mb-4" src="/static/img/로고w하비모아.jpg" alt="" width="" height="72"></a>
      </div>
  </div>
  </header>
  
<body>
 <section id="showcase">
  <div class="container">
      <!--폰트-->
  <link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet">
  <style>
h1 {font-family: 'Jua', sans-serif;}
h1 {font-size:20px;}
h1 {color: #0b0b0b}
h1 {text-align: center;}
</style>
    <h1>취미 클래스 이 곳에 다모아! 취미 사이트 통합 비교 플랫폼</h1>
    <a href="/"><img class="mb-4" src="/static/img/랜딩.gif" alt="" width="auto" height="auto"></a>
 </section>


 <div class="start_button">
    <a href="/index">
     <button type="button" class="btn btn-outline-info" position="center">하비모아 시작하기</button> </a>
 </div>

</div>
</body>

<footer>
       <!--폰트-->
       <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
       <style>
        h4 {font-family: 'Noto Sans KR', sans-serif;}
        h4 {font-size: 11px;}
        h4 {color: #8f71ff;}
        h4 {text-align: center;}
      </style>
  <h4>
    하비모아 대표 : 최화인 이다현 장혜원 정지윤 주연우 <br>
  Copyright © hobbymoa Corp.</h4>
</footer>


</html>

