<!--서핑 전체 클래스 노출 화면-->
<%- include('includes/header'); -%>
<%- include('includes/nav'); -%>

<!--폰트-->
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Nanum+Gothic+Coding&display=swap" rel="stylesheet">
<style>
div {font-family: 'Nanum Gothic Coding', monospace;}
</style>

<h2>　서핑</h2>

<!-- 폰트 설정 -->
<style>
    h2 {font-family: 'Nanum Gothic Coding', monospace;}
    </style>

<div style="display: block; width:1200px; margin:0 auto;  position:relative;">
    <div class="row">
        <div class="coll-sm-3">
    <div>
      <div class="card" style="width: 18rem;" >
        <img src="static/img/프립SUP요가.jpg" style="width: auto; height: 18rem;" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">1000칼로리소모!한혜진수중운동<br>
            고강도 수중 SUP 요가&피트니스 </p>
          <p>총 30,000원</p>
          <a href="https://www.frip.co.kr/products/94959">
          <p>프립</p> </a>
        </div>
      
      </div>   
    </div> 
      </div>
              
      <div class="coll-sm-3">
      <div>
        <div class="card" style="width: 18rem;" >
        
          <img src="static/img/탈잉서핑.jpg" style="width: auto; height: 18rem;" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">하루만에 끝나는 초보 서핑 강습! 렌탈,BBQ,숙박 포함</p>
            <p>총 40,000원</p>
            <a href="https://taling.me/Talent/Detail/11544">
            <p>탈잉</p> </a>
          </div>
          
        </div>   
      </div> 
        </div>
    
    <div class="coll-sm-3">
            <div>
              <div class="card" style="width: 18rem;" >          
                <img src="static/img/에어비엔비서핑.jpg" style="width: auto; height: 18rem;" class="card-img-top" alt="...">
                 <div class="card-body">
                  <p class="card-text">[세계서핑리그WSL강습]<br>Come Surf With ME!</p>
                  <p>총 68,034원</p>
                  <a href="https://www.airbnb.co.kr/experiences/156883?source=p2">
                  <p>에어비엔비 체험</p> </a>
                </div>    
            </div>   
        </div> 
    </div>

    <div class="coll-sm-3">
            <div>
              <div class="card" style="width: 18rem;" >
              
                <img src="static/img/프립야나두.jpg" style="width: auto; height: 18rem;" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">바람을 타고 바다 위를 날아보자 <br>야! 나두 윈드서핑 할 수 있어</p>
                  <p>총 50,000원</p>
                  <a href="https://www.frip.co.kr/products/115983">
                  <p>프립</p> </a>
                </div>
                
              </div>   
            </div> 
        </div>
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
<%- include('includes/footer'); -%>           



        
                






